html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  stroke-opacity: 0.2 !important;
  stroke-width: 0.6 !important;
}
path:hover {
  fill: #ABBDFF !important;
  fill-opacity: 0.5 !important;
  stroke-opacity: 0.2 !important;
  stroke-width: 2 !important;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
figure {
  background-color: transparent !important;
}
h1 {
  padding-top: 2%;
  padding-bottom: 1%;
}
#range {
  width: 50%;
  height: 50%;

}
.form-label {
  margin: 1%
}
.dataBody {
  margin-left: 20%;
  margin-right: 20%;
}

#provinceDetails{
  display: none;
}